#Bash aliases and functions to improve workflow

# Source aliases from .aliases directory if it exists
if [ -d ~/.aliases ]; then
  for f in `ls ~/.aliases/`
  do
    source ~/.aliases/$f
  done
fi

#DIRECTORY LISTINGS
#-------------------------
alias l='ls -lFh'     #size,show type,human readable
alias la='ls -lAFh'   #long list,show almost all,show type,human readable
alias lr='ls -tRFh'   #sorted by date,recursive,show type,human readable
alias lt='ls -ltFh'   #long list,sorted by date,show type,human readable
