#!/bin/sh

echo
echo " ********************************************************"
echo " * This server is configured using Ansible."
echo " * Do not change the server configuration!!!" 
echo " * "
echo " * Shell is for server monitoring only!"
echo " * More information: {{ admin.email }}"
echo " ********************************************************"
echo
